<% if @plant_dates.has_key?(Time.parse(today)) %>
  <%= erb :'partial/_page', locals: { date: Time.parse(today), plants: @plant_dates[Time.parse(today)] } %>
  <p>
  <p align="center">
    <%= greeting() %> There are <%= @plant_dates[Time.parse(today)].size %> plants that need attention today!</p>
<% else %>
  <div class="container-fluid text-left" >
    <p align="center" style="margin-top: 20px">
      <%= greeting() %> Today is <%= today %>
      <br>There are no plants that need attention today!</p>
  </div>
<% end %>
